
body {
background-image: url("https://static1.squarespace.com/static/52fbd030e4b0e8aa92de3640/t/5645fc99e4b0f4bd255e4d8f/1447427226423/");
background-repeat: no-repeat;

}










header {
font-size: 60px;

 }

